body {
  margin: 0;
  font-family: "Raleway", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  padding-top: 30px;
}
h2 {
  padding-top: 20px;
}
a {
  color: #25889c;
}
section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}

.sm-margin {
  margin-top: 33px;
}
